
.panels .panel-arrowcontent
{
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .6);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 100%);
}

.panels .panel-inner-arrowcontent
{
	border: 0px solid;
	padding: 16px;
}

.images
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.labelsLargeWhite
{
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 170%;
}

.labelsMediumWhite
{
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 135%;
}

.labelsSmallWhite
{
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 100%;
}

.labelsSmallBlack
{
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 100%;
}

.labelsLargeBlack
{
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 170%;
}

.labelsMediumBlack
{
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 135%;
}

.title
{
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 250%;
}

.buttons
{
	-moz-appearance: none;
	background-color: rgba(0,0,0,.0);
	border: 0px solid;
	font-weight: bold;
	cursor: pointer;
}

.textboxes
{
	-moz-appearance: none;
	/* color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0); */
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border: 2px solid;
	border-radius: 6px;
	font-weight: bold;
	font-size: 120%;
	width: 243px;
}

textbox.textboxes[focused=true]
{
	box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.checkboxes
{
	-moz-appearance: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 120%;
}

.tooltips
{
	-moz-appearance: none;
	border: 0px solid;
	border-radius: 6px;
	background-color: rgba(255, 255, 255, .5);
	margin: 5px;
}